@import "bootstrap";
* {
    margin: 0;
    padding: 0;

}

body {
    text-align: center;
    background-image: image-url('11.jpg');
    background-repeat:  no-repeat;
    
}

.container {
    width: 80%;
    margin: 0 auto;
    max-width: 700px;
    font-size: 1.5rem;
}

header {
    height: 60px;
    width: 100%;
    background-color: #3659C2;
    color: aliceblue;
    position: fixed;
    top: 0;

    p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        font-size: 2rem;
    }
}

footer {
    height: 60px;
    width: 100%;
    background-color: #3659C2;
    color: aliceblue;
    position: fixed;
    bottom: 0;

    p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        font-size: 1rem;
    }
}

.content {
    width: 500px;
}

.backcolor {
    color: aliceblue;
    border-radius: 5px;
    background-color: rgba(54, 89, 194, 0.61)
}

.top-font-size {
    font-size: 3rem;
    margin-bottom: 70px;
}